/* Import de fuentes */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

/* Fuentes personalizadas */
@font-face {
  font-family: Avenir;
  src: url(./../assets/fonts/FontsFree-Net-Avenir-Light.woff);
}

* {
  font-family: Avenir;
}

body,
html {
  margin: 0;
  padding: 0;
}

.section-destacados {
  height: 100vh; /* Cada sección ocupa toda la altura del viewport */
  display: flex;
  justify-content: center !important;
  align-items: center;
  color: white;
  font-size: 2rem;
}

/* Fondo inicial */
body {
  background: url("images/parallax/1.jpg") no-repeat center center fixed;
  background-size: cover;
  transition: background 0.5s ease; /* Transición suave al cambiar el fondo */
}

.section{
  min-height: 100vh;
   background: rgba(255, 255, 255, 0.2); /* Fondo semitransparente */
  backdrop-filter: blur(5px); /* Desenfoque aplicado al fondo */
  -webkit-backdrop-filter: blur(10px); /* Compatibilidad con navegadores Webkit */
 }

.section1 {
  background-color: rgba(0, 0, 0, 0.5); /* Efecto de fondo sobre la imagen */
}

.section2 {
  background-color: #ffc40028;
}

.botones {
  padding: 20px 0;
  margin: 40px 0;
}

.botones img {
  height: 100px;
  width: 200px;
}

.borde-dorado {
  border-radius: 10px;
  border-bottom: 5px solid #ffc400d5;
  height: 100%;
  width: 100%;
}

.green-text {
  color: #056245 !important;
  text-shadow: #ffc400 1px 1px 4px;
}

.parallax-container {
  min-height: 350px;
}

.yellow-text {
  color: #ffc400;
  text-shadow: #8baaa0 1px 1px 2px;
}
.justify-text {
  text-align: justify;
  text-shadow: #000000 1px 1px 2px;
}

/*Cards de destacados*/
.destacados {
  position: relative;
  border-radius: 20px;
  width: 80%; /* Ajustar al ancho del contenedor padre */
  overflow: hidden; /* Esconde cualquier exceso de la imagen */
  margin: 0px 20px;
}
.destacados .image {
  height: 100%; /* Ajusta la altura de la imagen al contenedor */
  width: 100%; /* Ajusta el ancho de la imagen al contenedor */
  object-fit: cover; /* Asegura que la imagen se ajuste sin distorsionarse */
  object-position: center; /* Centra la imagen dentro del contenedor */
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.destacados:hover .image {
  opacity: 0.3;
}

.destacados:hover .middle {
  opacity: 1;
}

.text {
  background-color: #056245;
  width: 100%;
  color: white;
  font-size: 30px;
  padding: 16px 32px;
  text-shadow: 1 1 1 px black;
}

.historia {
  column-count: 2;
  /* Espacio entre las columnas */
  column-gap: 30px;
  padding: 0 40px;
}
.columnas p {
  margin: 0;
  padding: 0;
  text-align: justify;
}

@media (max-width: 600px) {
  .historia {
    column-count: 1;
  }
  .mision {
    display: flex;
    flex-direction: column;
  }
}

.mision {
  display: flex;
  align-items: center;
}

.vision{
  background-color: #262137;
}

.vision img{
  -webkit-mask-image: linear-gradient(to bottom, 
        rgba(0, 0, 0, 0) 0%, /* Parte superior transparente */
        rgba(0, 0, 0, 1) 20%, /* Difuminado superior */
        rgba(0, 0, 0, 1) 80%, /* Zona central visible */
        rgba(0, 0, 0, 0) 100% /* Difuminado inferior */
    );
    mask-image: linear-gradient(to bottom, 
        rgba(0, 0, 0, 0) 0%, 
        rgba(0, 0, 0, 1) 20%, 
        rgba(0, 0, 0, 1) 80%, 
        rgba(0, 0, 0, 0) 100%
    );
    -webkit-mask-composite: destination-in;
    mask-composite: intersect;

    /* Opcional: Añadir borde suave en los laterales */
    -webkit-mask-image: linear-gradient(to right, 
        rgba(0, 0, 0, 0) 0%, 
        rgba(0, 0, 0, 1) 10%, 
        rgba(0, 0, 0, 1) 90%, 
        rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to right, 
        rgba(0, 0, 0, 0) 0%, 
        rgba(0, 0, 0, 1) 10%, 
        rgba(0, 0, 0, 1) 90%, 
        rgba(0, 0, 0, 0) 100%);
    
    width: 100%;
    height: auto;
}

footer {
  position: absolute;
  width: 100%;
  z-index: 1;
}
.foot-dev * {
  background: #212121 !important;
  color: aliceblue;
  cursor: pointer;
}

@keyframes circle-out-hesitate {
  0% {
    clip-path: circle(125%);
  }
  40% {
    clip-path: circle(40%);
  }
  100% {
    clip-path: circle(0%);
  }
}

[transition-style="out:circle:hesitate"] {
  animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) circle-out-hesitate both;
}
